extends ./template.jade

block content
	h1 Chess Leader Board

	table.ui.inverted.brown.table
		thead
			tr
				th Players
				th Points
				th Played
				th Won
				th Drawn
				th Lost
		tbody
			each user in users
				tr
					td= user.name
					td= user.points
					td= user.played
					td= user.won
					td= user.drawn
					td= user.lost

	h2 Matches Played

	table.ui.inverted.green.table
		thead
			tr
				th Date
				th White
				th (+/-)
				th Result
				th Black
				th (+/-)
		tbody
			each game in games
				- pwhite = users.find(function(o) { return o.id == game.players.white } )
				- pblack = users.find(function(o) { return o.id == game.players.black } )
				tr
					td= game.createdDate
					td
						if game.winner == 'white'
							i.trophy.icon
						= pwhite.name

					td= (game.change.white > 0 ? '+' : '') + game.change.white
					td= game.winner[0]
					td
						if game.winner == 'black'
							i.trophy.icon
						= pblack.name

					td= (game.change.black > 0 ? '+' : '') + game.change.black
