extends ./template.jade

block content
	h1 Chess Leader Board

	table.ui.inverted.brown.table
		thead
			tr
				th Players
				th Points
				th Played
				th Won
				th Drawn
				th Lost
				th Games
		tbody
			each user in users
				tr
					td= user.name
					td= user.points
					td= user.played
					td= user.won
					td= user.drawn
					td= user.lost
					td
						a.mini.ui.button(href='/?userId=' + user.id)= 'View'

	h2
		= 'Matches Played'
		if filteredUser
			= ` (for player ${filteredUser.name}) `
			a.ui.button(href='/')= 'Clear filter'

	table.ui.inverted.green.table
		thead
			tr
				th Date
				th White
				th (+/-)
				th Result
				th Black
				th (+/-)
		tbody
			each game in games
				- pwhite = users.find(user => { return user.id == game.players.white; } )
				- pblack = users.find(user => { return user.id == game.players.black; } )
				tr
					td= dateformat(game.createdDate)
					td
						if game.winner == 'white'
							i.trophy.icon
						= pwhite.name

					td= (game.change.white > 0 ? '+' : '') + game.change.white
					td= game.winner[0]
					td
						if game.winner == 'black'
							i.trophy.icon
						= pblack.name

					td= (game.change.black > 0 ? '+' : '') + game.change.black

			if !games.length
				tr
					td.ui.center.aligned(colspan=6)
						i.big.meh.icon
						br
						= 'This player has not played any games yet'
