extends ./template.jade

block content
	h1 Chess Leader Board

	table.ui.inverted.brown.table
		thead
			tr
				th Place
				th Players
				th Points
				th Played
				th Won
				th Drawn
				th Lost
				th Games
		tbody
			- place = 0
			each user, index in users
				- prevUser = users[index - 1]
				- prevUserPoints = prevUser ? prevUser.points : null

				tr
					td= user.points == prevUserPoints ? '' : ++place
					td= user.name
					td= user.points
					td= user.played
					td= user.won
					td= user.drawn
					td= user.lost
					td
						a.mini.ui.button(href='/?userId=' + user.id)= 'View'

	h2
		= 'Matches Played'
		if filteredUser
			= ` (for player ${filteredUser.name}) `
			a.ui.button(href='/')= 'Clear filter'

	table.ui.inverted.green.table
		thead
			tr
				th #
				th Date
				th White
				th (+/-)
				th Result
				th Black
				th (+/-)
		tbody
			each game, index in games
				- pwhite = users.find(user => user.id == game.players.white )
				- pblack = users.find(user => user.id == game.players.black )
				tr
					td= games.length - index
					td
						if (game.createdDate)
							= dateformat(game.createdDate, 'ddd, mmm dS, yyyy')
					td
						if game.winner == 'white'
							i.trophy.icon
						= pwhite.name

					td= (game.change.white > 0 ? '+' : '') + game.change.white
					td= game.winner[0]
					td
						if game.winner == 'black'
							i.trophy.icon
						= pblack.name

					td= (game.change.black > 0 ? '+' : '') + game.change.black

			if !games.length
				tr
					td.ui.center.aligned(colspan=6)
						i.big.meh.icon
						br
						= 'This player has not played any games yet'
