extends ./template.jade

block content
	h1 Chess leader board

	table.ui.inverted.brown.table
		thead
			tr
				th Players
				th Points
		tbody
			each user in users
				tr
					td= user.name
					td= user.points

	h2 Matches Played

	table.ui.inverted.green.table
		thead
			tr
				th White
				th (+/-)
				th Result
				th Black
				th (+/-)
		tbody
			each game in games
				- pwhite = users.filter(function(o) { return o.id == game.players.white } )[0]
				- pblack = users.filter(function(o) { return o.id == game.players.black } )[0]
				tr
					td= pwhite.name
					td= (game.change.white > 0 ? '+' : '') + game.change.white
					td= game.winner[0]
					td= pblack.name
					td= (game.change.black > 0 ? '+' : '') + game.change.black
